@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо</h1>
    <p>Почитайте про <a href="https://learn.microsoft.com/aspnet/core">створення Веб додатків з ASP.NET Core</a>.</p>
</div>
